@model Laboratorio01.Models.ClientModel

@{
    ViewData["Title"] = "Create3";
}


<h1>Búsqueda por Parámetros AVL</h1>


<h4>Búsqueda por Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateavlEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buscar Email" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}